@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

$body-bg:	 						#333333;
$navbar-default-bg:					#ecf0f1;
$navbar-height:						50px;
$navbar-default-link-color:			#e05151;


@import "bootstrap-sprockets";
@import "bootstrap";

.center {
	text-align:	center;
}

.navbar-brand {
	font-weight: bold;
	font-size:	28px;
	font-family: 'Rock Salt', cursive;
}